.starShape {
    width: 30px;
    height: 30px;  
    aspect-ratio: 1;
    background: #888;
    clip-path: polygon(50% 0,
        calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
        calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
        calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
        calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn)))
    );
    -webkit-appearance: none; /* Eliminar el estilo predeterminado de WebKit */
    appearance: none; /* Eliminar el estilo predeterminado */
}

.starShape::-webkit-progress-bar {
    background-color: transparent; /* Fondo transparente para WebKit */
}

.starShape::-webkit-progress-value {
    background-color: #F8CA00; /* Color de la barra de progreso para WebKit */
}

.starShape::-moz-progress-bar {
    background-color: #F8CA00; /* Color de la barra de progreso para Firefox */
}
