.post-field-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    
    background-color: aqua;
    align-items: flex-start;
}
  
  .t-profile-container {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: gray; /* Placeholder background color */
    margin-right: 10px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    flex: 1; 
  }
  
  .input-container {
    flex: 1;
    width: 100%;
  }
  
  .textarea-input {
    width: 100%;
  }
  
  .action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .post-button {
    background-color: #3c6898 !important; /* Example style */
    color: white !important;
    border-radius: 5px !important;
    border-radius: 30px !important;
  }
  
  
  .photo-icon {
    font-size: 24px;
    color: #007bff;
    cursor: pointer;
  }
  