.postedby-card {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-direction: row;
  border-radius: 8px;
  margin-bottom: 10px; /* Ajuste del margen inferior */
  transition: background-color 0.3s ease-in-out; 
}

.postedby-card:hover {
  background-color: #a5adb8;
}

.post-user-profile{
  border-radius: 50px;
  background-color: rgb(162, 218, 235);
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.user-info-container{
  display: flex;
  flex-direction: column;
}

.postedby-usuario {
  font-size: 1rem; /* Tamaño de fuente reducido */
  font-weight: 600;
  color: #343a40;
  margin: 0;  
}

.postedby-time {
  font-size: 0.6rem; /* Tamaño de fuente reducido */
  color: #6c757d;
  margin: 0;
}

