@import url('/src/theme/variables.css');

.modal-background, .modal-background2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 5;
    opacity: 0.8;
    right: 0%;
    top: 0%;
}

.modal-background2 {
    z-index: 11;
}

.modal-position, .modal-position2{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    padding: 15px;
    left: 50%;
    width: 725px;
    height: 800px;
    max-height: 800px;
    background-color: var(--ion-color-secondary);
    z-index: 6;
    border-radius: 10px;
}

.modal-position2 {
    z-index: 12;
    background-color: var(--ion-color-primary-contrast);
    width: auto;
    height: auto;
    display: flex;
}

.modal-container{
    height: 100%;
    width: 100%;
    background-color: var(--ion-color-primary-contrast);
    display: flex;
    flex-direction: column;
    color: var(--ion-color-secondary-contrast);
    padding: 5px;
}

.header-modal{
    display: flex;
    justify-content: space-between;
    color: var(--ion-color-tertiary);
}

.center-content-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-logout {
    position: 'absolute';
    width: 100px;
    height: auto;
    z-index: 10;
}

.profile-modal-options {
    border: 1px solid #888;
    padding: 5px;
    cursor: pointer;
}

.profile-modal-options:hover {
    background-color: var(--ion-color-secondary);
}

@media (max-width: 740px){
    .modal-position {
        width: 350px;
        height: 770px;
    }
}