.popup-container {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    padding: 10px;
    /* border-radius: 8px; */
    max-width: 800px;
    min-width: 700px;
    border-bottom: solid 1px black;
  }
  
  .section-1 {
    flex: 0.5 0 auto; /* No crecerá ni se reducirá */
    margin-right: 10px;
  }
  
  .section-1 img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  .section-2 {
    flex: 2; /* Ocupa más espacio proporcionalmente */
    display: flex;
    flex-direction: column;
  }
  
  .section-2-top {
    display: flex;
    font-size: 14px;
    padding-bottom: 5px;
  }
  
  .section-2-top > div:first-child {
    font-size: 14px;
    margin-right: 8px; /* Ajusta este valor para controlar el espacio */
  }
  
  .section-2-bottom {
    font-size: 20px;
    font-weight: bold;
  }
  
  .section-3 {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
  }
  
  .section-3 .date {
    font-size: 14px;
    text-align: start;
    width: 100%;
    padding-bottom: 5px;

  }
  
  .section-3 .price {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    width: 100%;
}
  
  
.section-4 {
    text-align: end; /* Centra el contenido dentro de .section-4 */
}
  
.section-4 img {
    width: 40px; /* Ajusta el tamaño a lo que necesites */
    height: 40px; /* Ajusta el tamaño a lo que necesites */
    object-fit: contain; /* Ajusta la imagen dentro de sus dimensiones */
}
  