.popup-hirings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 80vh; /* Limita la altura del contenedor para hacer scroll */
    overflow-y: auto; /* Activa el scroll vertical */
    overflow-x: hidden;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  