.card {
  width: 250px; /* Ancho fijo */
  height: 600px; /* Alto fijo */
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
  overflow-y: hidden;
  transition: none; 
}

.container {
  margin-top: 20px;
  width: 100%;
  height: 100%; /* Altura automática */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  margin-top: 75%;
  display: grid; 
  grid-template-columns: repeat(3, 2fr); 
  gap: 25px; 
  width: 100%; 
}


