.cardx {
  width: 300px; /* Ancho fijo */
  height: 500px; /* Alto fijo */
  /* margin-top: 20px; */
  cursor: pointer;
  overflow-y: hidden;
  transition: none; 
  opacity: 0;
  transition: transform 0.3s ease-in-out;
}

.container {
  margin-top: 20px;
  width: 100%;
  height: 100%; /* Altura automática */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid; 
  grid-template-columns: repeat(3, 2fr); 
  width: 100%; 
  justify-content: center;
  align-items: center;
  justify-items: center;
}
  


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



@keyframes slideIn {
  from {
    /* transform: translateX(-100px); */
    opacity: 0;
  }
  to {
    /* transform: translateX(100px); */
    opacity: 1;
  }
}

.cardx {
  animation: slideIn 2s ease-out forwards;
}


