#contrat-display {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  width: 100%;
  padding: 15px;
}

#centered-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#centered-button {
  display: flex;
  align-items: center;
}
  

  
