:root {
    --black: #071011;
    --white: #fff;
    --red: tomato;
    --standard: 10px;
    --card-height: 450px;
    --card-width: 300px;
  }
  

  
  .outer-div,
  .inner-div {
    height: 100%;
    max-width:  100%;
    margin: 0 auto;
    position: relative;
  }
  

  .inner-div {
    height: 100%;
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 400;
    color: var(--black);
    font-size: 1rem;
    text-align: center;
  }
  
  

  .front {
    height: 100%;
    width: 100%;
    cursor: pointer;
    height: 100%;
    background: var(--white);
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  
  .front__bkg-photo {
    position: relative;
    height: 150px;
    width: 100%;
    background-color: gray;
    background-size: cover;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .front__face-photo {
    position: relative;
    top: -60px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid var(--white);
    background: url("https://static-00.iconduck.com/assets.00/profile-circle-icon-2048x2048-cqe5466q.png")
      no-repeat;
    background-size: contain;
    overflow: hidden;
  }
  
  .front__text {
    margin-top: 40px;
    position: relative;
    top: -55px;
    margin: 0 auto;
    font-family: "Montserrat";
    font-size: 18px;
  }
  
  .front__text-header {
      font-weight: 700;
      font-family: "Oswald";
      text-transform: uppercase;
      font-size: 20px;
    }
  
    .front__text-para {
      margin-top: 20px;
      position: relative;
      top: -5px;
      color: #000;
      font-size: 14px;
      letter-spacing: 0.4px;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
    }
  
    .front-icons {
      position: relative;
      top: 0;
      font-size: 14px;
      margin-right: 6px;
      color: gray;
    }

    .hire-button {
      position: relative;
      top: 10px;
      font-size: 10px;
      color: var(--red);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .4px;
      border: 2px solid var(--red);
      padding: 8px 15px;
      border-radius: 30px;
      background: var(--red);
      color: var(--white);
      display: block; 
      margin: 0 auto; 
    }
    
    
    .hire-button:hover {
      background-color: #06132f;
    }
    
  

  
