@import url('/src/theme/variables.css');

.container-initial-search {
    background-color: var(--ion-color-primary);
    position: relative;
    height: 85%;
    width: 80%;
    margin-bottom: 80px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--nunito-font);
}

.search-style {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 60px;
}
