
/* PALETA DE COLORES NO TOCAR Y SIEMPRE USAR */

:root{
    --primary: #6f9ceb;
    --secondary: #306BAC;
    --terciary: #D36135;
    --blanco: #fff;
    --negro: #000;
    --SABTEFONT: 'Times New Roman', Times, serif ;
}
