@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
    /** primary **/
    --ion-color-primary: #6F9CEB;
    
    /** secondary **/
    --ion-color-secondary: #7E90BC;
    
    /** tertiary **/
    --ion-color-tertiary: #305BAC;

    --ion-color-fourth: #EEE8A9;

    --ion-color-fifth: #EBD26E;
    
    /** quaternary **/
    --ion-color-quaternary: #E8EFFF;

    /** quintary **/
    --ion-color-quintary: #EEE8A9;

    /** sextarian **/
    --ion-color-sextarian: #EBD26E;

    /** success **/
    --ion-color-success: #2dd36f;
    
    /** warning **/
    --ion-color-warning: #ffc409;
    
    /** danger **/
    --ion-color-danger: #f80627;
    
    /** general colors **/
    --white: #ffffff;
    --black: #000000;

    --nunito-font: 'Nunito Sans', sans-serif;
  }
  
  html {
    /* For more information on dynamic font scaling, visit the documentation: 
    https://ionicframework.com/docs/layout/dynamic-font-scaling */
    --ion-dynamic-font: var(--ion-default-dynamic-font);
  }

  body {
    overflow-y: none;
  }

