@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

.container {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--light-pink);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Work Sans', sans-serif;
  padding: 0 2rem;
}

.accordion {
  background-color: white;
  width: 60rem;
  min-height: min-content;
  padding: 4rem 3rem 3rem;
  border-radius: 1.5rem;
  margin: auto 0;
}

.accordion__heading {
  display: flex;
  align-items: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.accordion__image {
  margin-right: 2rem;
  width: 2rem; /* Ajusta el tamaño del icono de estrella */
  height: 2rem;
}

.accordion__item {
  padding: 1.5rem 0;
}

.accordion__item:not(:last-child) {
  border-bottom: 1px solid var(--light-pink);
}

.accordion__title-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.accordion__title-wrapper img {
  cursor: pointer;
  margin-left: 1rem;
  width: 1.5rem; /* Ajusta el tamaño del icono plus/minus */
  height: 1.5rem;
}

.accordion__title {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--dark-purple);
}

.accordion__title:hover {
  color: hsl(281, 86%, 55%);
}

.accordion__description {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--grayish-purple);
}

@media only screen and (max-width: 650px) {
  .container {
    background-image: url(../../../assets/FAQAccordion/background-pattern-mobile.svg);
  }

  .accordion {
    border-radius: 1rem;
    width: 100%;
    margin: 2rem;
  }
}
