.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: #7E90BC; /* Fondo db-blue */
    border-top: 1px solid #dbdbdb;
}

.input-message {
    width: 90%;
    max-height: 50px;
    padding: 0 15px;
    border: 1px solid #dbdbdb;
    background-color: #eceff1;
    border-radius: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    outline: none;
    color: #757575;
    resize: none;
    overflow-y: auto;
}


.icon {
    width: 42px;
    height: 42px;
    color: white; /* Los íconos son blancos */
    cursor: pointer;
}

.gallery-icon {
    margin-right: 10px; /* Separación a la derecha del icono de galería */
}

.send-icon, .hire-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
}

.icon.send-icon.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

  
.send-icon:hover, .hire-icon:hover {
    color: #ffffffa1; /* Ligero cambio de color al hacer hover */
}
