.calendar-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .react-datepicker__month-container {
    width: 300px;
  }
  
  .react-datepicker__header {
    background-color: white;
    border-bottom: none;
  }
  
  .react-datepicker__current-month {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .react-datepicker__day-names,
  .react-datepicker__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .react-datepicker__day-name,
  .react-datepicker__day {
    width: 40px;
    line-height: 40px;
    margin: 2px;
    text-align: center;
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #4a90e2;
    color: white;
  }
  
  .react-datepicker__navigation--previous,
  .react-datepicker__navigation--next {
    top: 20px;
  }
  
  .css-1bz26re-MuiTypography-root-MuiDatePickerToolbar-title {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    text-align: left;
    margin: auto 16px auto auto;
    color: black;
  }

  .MuiDialogActions-root MuiDialogActions-spacing MuiPickersLayout-actionBar css-knqc4i-MuiDialogActions-root{
    display: none;
  }
