.chat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    overflow-y: auto;
}

.chat-bubble {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
}

.chat-bubble.me {
    background-color: #026685;
    align-self: flex-end;
}

.chat-bubble.you {
    background-color: #212121;
}

.message-content {
    margin-bottom: 5px; 
}

.message-time {
    font-size: 12px;
    color: #dbdbdb;
    margin-top: 1px;
    align-self: flex-end; }
