.chat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    height: calc(100% - 107px); /* Ajusta la altura según sea necesario */
    overflow-y: auto;
    scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
    -ms-overflow-style: none;  /* Oculta la barra de desplazamiento en Internet Explorer 10+ */
}

.chat-container::-webkit-scrollbar {
    width: 0px;  /* Oculta la barra de desplazamiento en Safari y Chrome */
    background: transparent;  /* Asegura que el fondo sea transparente */
}

.chat-bubble {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
}

.chat-bubble.me {
    background-color: #1961af; 
    color: white;
    align-self: flex-end;
}

.chat-bubble.you {
    background-color: #7E90BC;
    color: white;
}

.message-content {
    margin-bottom: 1vw; 
}

.message-time {
    font-size: 12px;
    color: #dbdbdb;
    margin-top: 1px;
    align-self: flex-end;
}
