.information-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 3vh;
}

.information-row {
  display: flex;
  align-items: center;
  gap: 30px;
}

.number {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-right: 1vw;
  margin-left: -1vw;
}

.text-input {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.text-input label {
  font-size: 0.8rem;
  color: black;
  margin-bottom: 5px;
}

.text-input input {
  border: none;
  border-bottom: 1px solid rgb(63, 63, 63);
  background: transparent;
  color: black;
  font-size: 1rem;
  padding: 5px 0;
  width: 20vw;
}

.text-input input:focus {
  outline: none;
  border-bottom: 1px solid rgb(63, 63, 63);
}

.currency-input {
  display: flex;
  align-items: center;
}

.currency-symbol {
  font-size: 1rem;
  color: black;
  margin-right: 5px;
}

.decimal-suffix {
  font-size: 1rem;
  color: black;
  margin-left: 5px;
}

.button-container {
  display: flex;
  justify-content: center; /* Centrar los botones horizontalmente */
  align-items: center; /* Asegurarse de que estén centrados verticalmente */
  gap: 20px; /* Espaciado horizontal entre los botones */
  margin-top: -10px;
}

.confirm-button {
  background-color: #305BAC;
  color: white;
  width: 125px;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

.confirm-button:hover {
  background-color: #3b74dc;
}

.cancel-button {
  background-color: #C0C0C0;
  width: 125px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

.cancel-button:hover {
  background-color: #7c7c7c;
}

