:root {
    --white: #fff;
    --black: #000;
    --bg: #f8f8f8;
    --grey: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --wrapper: 1000px;
    --blue: #00b0ff;
    --db-blue: #7E90BC; /* Nuevo color para el chat seleccionado y hover */
}

body {
    background-color: var(--bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/image.jpg');
    background-size: cover;
    background-repeat: none;
}

.wrapper {
    width: 100vw;
    height: 88.5vh;
}

.container1 {
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

.left {
    float: left;
    width: 25vw;
    height: 100%;
    border: 1px solid var(--light);
    background-color: var(--white);
}


@media (min-width:600px){
    .left .top {
        position: relative;
        width: 24.8vw;
        height: 18vh;
        padding: 29px;
    }
}

.left .top:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: var(--light);
    transform: translate(-50%, 0);
}

@media (min-width:600px){
    .left input {
        float: left;
        width: 100%;
        height: 42px;
        padding: 0 15px;
        border: 1px solid var(--light);
        background-color: #eceff1;
        border-radius: 21px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        outline: none;
        color: var(--grey)
    }
    
}


.left a.search {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    border: 1px solid var(--light);
    background-color: var(--blue);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png');
    background-repeat: no-repeat;
    background-position: top 12px left 14px;
    border-radius: 50%;
}

@media (min-width:500px){
    .left .people {
        margin-left: -7vw;
    }
    
}
@media (max-width:365px){
    .left .people {
        width: 37.8vw;
        margin-left: -13.6vw;
    }
    
}

@media (min-width:365px) and (max-width:500px) {
    .left .people {
        width: 31.8vw;
        margin-left: -8.7vw;
    }
    
}

.left .people .person {
    display: flex;
    align-items: center;
    position: relative;
    width: 24vw;
    padding: 12px 10% 16px;
    cursor: pointer;
    background-color: white;
}

.left .people .person:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: '';
    background-color: var(--light);
    transform: translate(-50%, 0);
}

@media (min-width:500px){
    .left .people .person img {
        width: 4vw;
        height: 8vh;
        margin-right: 2vh;
        border-radius: 50%;
        margin-left: 4vw;
        object-fit: cover;
    }
    
    .searchpeople{
        height: 0px;
        width: 0px;
        
    }
}
@media (max-width:500px){
    .left .people .person img {
        width: 0vw;
        height: 0vh;
        border-radius: 50%;

    }

    .searchpeople{
        font-size: 1.5vw;
        background-color: white;
        color: white;
        border: 0px;
        border-color: white;
        
    }

}

.left .people .person .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.left .people .person .name {
    font-size: 14px;
    line-height: 22px;
    color: var(--dark);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.left .people .person .time {
    font-size: 14px;
    padding: 0 0 5px 5px;
    color: var(--grey);
    background-color: var(--white);
}

.left .people .person .preview {
    font-size: 14px;
    display: inline-block;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--grey);
}

/* Cuando el chat está seleccionado */
.left .people .person.active {
    margin-top: -1px;
    padding-top: 13px;
    border: 0;
    background-color: var(--db-blue); /* Cambiado a db-blue */
    width: 100%; /* Selección ocupa todo el ancho */
}

/* Texto en blanco cuando el chat está seleccionado */
.left .people .person.active span {
    color: var(--white); /* Cambiado a blanco */
    background: transparent;
}

/* Cuando se hace hover sobre un chat no seleccionado */
.left .people .person:hover {
    background-color: var(--db-blue); /* Cambia a db-blue en hover */
    width: 100%; /* Hover ocupa un 95% del ancho, no todo */
    margin-left: auto;
    margin-right: auto;
}

/* Texto en blanco cuando se hace hover */
.left .people .person:hover span {
    color: var(--white); /* Cambia a blanco en hover */
}

/* Asegurarse de que el chat seleccionado se mantiene en db-blue incluso en hover */
.left .people .person.active:hover {
    background-color: var(--db-blue); /* Mantener el color azul si está seleccionado */
}

/* Remover la línea divisoria en el chat seleccionado o cuando se hace hover */
.left .people .person:after {
    display: none;
}

.right {
    position: relative;
    float: left;
    width: 75vw;
    height: 100%;
}

.right .top {
    width: 100%;
    height: 5.2vh;
    padding: 1.5vh 3vw;
    background-color: #eceff1;
}

.right .top span {
    font-size: 15px;
    color: var(--grey);
}

.right .top span .name {
    color: var(--dark);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.right .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px 29px;
    background-color: var(--white);
}
