@import url('../../theme/variables.css');

.input-top-display {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs-rl {
    color: black;
}

.icon-password {
    color: var(--ion-color-tertiary); 
    cursor: pointer;
}