@import url("https://fonts.googleapis.com/css2?family=Honk&family=Jersey+10&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

.contratoPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  background-color: #f5f5f5;
}

.content {
  /* flex: 1; */
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section1 {
  /* flex: 1; */
  width: 100%;
  background-color: #c59595;
  display: flex;
  flex-direction: column;
}

.innerContainer {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
}

.descriptionContainer,
.productIdea {
  background-color: #f5f5f5; /* Light blue for visibility */
  flex: 1; /* Equal width */
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  min-height: 95vh;
}

.descriptionContainer {
  background-color: #ff2a2a;
  display: flex;
  flex-direction: column;
}

.productIdea {
  background-color: rgb(60, 184, 222);
}

.mainSlogan {
  color: black;
  font-style: 'Proza Libre", sans-serif';
  font-weight: bold;
  font-size: 54px;
  padding-left: 150px;
  padding-right: 145px;
  text-align: start;
  margin-bottom: 1rem;
}

.conectaCon {
  text-align: start;
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-style: "Nunito Sans", sans-serif;
  padding-right: 40px;
}

.quieres {
  text-align: start;
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-style: "Nunito Sans", sans-serif;
  padding-right: 485px;
  padding-bottom: 50px;
}
/*Section 2 */

.section2 {
  width: 100%;
  background-color: #111A28;
  /* display: flex; */
  flex-direction: row;
}

.aboutDisplayer,
.productAssets {
  background-color: #f5f5f5; 
  flex: 1;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.aboutDisplayer {
  background-color: rgb(226, 43, 43);
  height: 200px;
  width: 200px;
}

.productAssets {
  background-color: rgb(255, 230, 0);
  height: 200px;
  width: 200px;
}

@media (max-width: 1450px) {
  .innerContainer {
    flex-direction: column;
  }

  .descriptionContainer,
  .productIdea,
  .aboutDisplayer,
  .productAssets {
    width: 100%;
    min-height: 150px; /* Adjust height for smaller screens */
  }

  .conectaCon {
    padding-left: 50px;
    padding-right: 10px;
  }

  .quieres {
    white-space: nowrap;
    padding-left: 50px;
    padding-right: 300px;
    width: 100%;
    text-align: center;
  }

  .mainSlogan {
    padding-left: 50px;
    padding-right: 10px;
  }
}
