ion-toolbar {
  --background: #1961af; 
  --ion-color-base: #007bff; 
  height: 80px;
  display: flex;
}

ion-title{
  font-size: 30px;
  font-family: 'Georgia', serif;
}

ion-segment-button{
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  flex: 1;
  --color: rgb(0, 0, 0);

}

ion-segment{
  height: 60px;
  background-color: rgb(41, 126, 138);
  justify-content: space-around;
  display: flex;
}

#mainContent {
  overflow-y: auto; 
  max-height: calc(100vh - 56px);
  --background: #fff;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.imageWrapper {
  flex: 1;
  margin-right: 20px; /* Adjust spacing between image and text */
}

.imageWrapper img {
  max-width: 100%; /* Adjust image width */
  height: auto;
  border-radius: 10%;
}


.textWrapper {
  font-size: 20px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  text-align: justify;
}


@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
    align-items: stretch;
}}


.IonCardTitle {
  font-family: 'Arial', sans-serif; /* Example font family */
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Make the title bold */
  color: #ffffff; /* Example color (orange) */
  background-color: #e2850ada; /* Example background color */
  padding: 10px 20px; /* Add padding to create space around the title */
  border-radius: 5px; /* Add rounded corners */
}
