@import url('../theme/variables.css');

.contentC {
    background-color: var(--ion-color-primary);
    padding-top: 40px;
    padding-left: 15%;
    padding-right: 15%;
    height: auto;
    max-height: 1200px;
    overflow: auto;
    display: flex;
    overflow: auto;
}

.dashboard-row {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-card {
    display: flex;
    height: auto;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    flex-direction: column;
}

.feed-img {
    height: 65%;
    width: 100%;
    border-radius: 30px;
}

.lower-displayment {
    width: 100%;
    height: auto;
    background-color: var(--ion-color-primary-contrast);
    display: flex;
    flex-direction: row;
    color: var(--ion-color-tertiary);
}

.info-display-grid {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.headerImg {
    width: '100%';
    height: '65%';
    object-fit: 'fill';
}

.dataGrid {
    color: black;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.dataDisplay {
    display: flex;
    flex-direction: column;
    height: auto;
}

@media (max-width: 814px){
    .lower-displayment {
        flex-direction: column;
    }

    .contentC{
        height: 1085px;
    }
}
