.background {
    background-color: #FFF;
    opacity: 0.9;
    background-size: 52px 52px;
    background-position: 0 0, 26px 26px;
    height: calc(100% - 15vh); /* Ensure it takes the full height of the viewport */
    display: flex;
    flex-direction: column;
    padding: 0 20px; /* Add margin on the left and right sides */

    /* Hide the scrollbar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    overflow-y: auto; /* Scroll for y axis*/
    scrollbar-width: none;  /* Firefox */
}

.calendar-header {
    padding: 10px 25px 10px 25px;
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.header-top-calendar {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.header-bottom-calendar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.smaller-calendar-header {
    display: grid;
    grid-template-areas: 
        "header"
        "left right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.center-right-element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center-center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-left-element {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}


.background::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

