.background {
    background-color: #FFF;
    opacity: 0.9;
    background-size: 52px 52px;
    background-position: 0 0, 26px 26px;
    height: 100vh; /* Asegúrate de que ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Cambia a auto para que solo aparezca el scroll cuando sea necesario */
}

.calendar-header {
    padding: 10px 25px 10px 25px;
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.smaller-calendar-header {
    display: grid;
    grid-template-areas: 
        "header"
        "left right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.center-right-element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center-center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-left-element {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

