@import url('../theme/variables.css');

:root {
    --size-default: 200px;
}

.contentC {
    background-color: var(--ion-color-primary); 
    padding-top: 40px;
    padding-left: 15%;
    padding-right: 15%;
    max-height: 1420px;
    min-height: 100vh;
    height: auto;
    overflow-y: auto;
}

.header-card {
    display: flex;
    height: auto;
    min-height: 800px;
    max-height: 1225px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    flex-direction: column;
}

.feed-img {
    height: 180px; 
    width: 100%;
    object-fit: fill;
}

.lower-displayment {
    width: 100%;
    height: auto;
    background-color: var(--ion-color-primary-contrast);
    display: flex;
    flex-direction: row;
    color: var(--ion-color-tertiary);
}

.info-display-grid {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.headerImg {
    width: '100%';
    height: '65%';
    object-fit: 'fill';
}

.dataGrid {
    color: black;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 20px;
}

.dataDisplay {
    display: flex;
    flex-direction: column;
    height: auto;
}

.absolute-corner {
    position: absolute;
    left: 69%;
    top: 5%
}

@media (max-width: 814px){
    .lower-displayment {
        flex-direction: column;
    }

    .contentC{
        height: 1085px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .dataGrid{
        grid-template-columns: 50% 50%;
        grid-template-rows: 33.33% 33.33% 33.33%;
    
    }
}
