@import url('../theme/variables.css');

.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-primary);
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
}

.displayment-login-elements {
    background-color: var(--white);
    color: black;
    height: 100%;
    width: 75%;
    max-width: 900px;
    min-width: 400px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--proza-font);
    overflow-y: scroll;
}

.displayment-login-elements::-webkit-scrollbar {
    display: none;
}

.top-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-center {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bottom-center {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fgpass_togo{
    cursor: pointer;
    color: var(--black);
}
