.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #306CAB;
    background-size: cover;
}

#loginCenter {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.loginTitle {
    font-size: 50px;
    display: flex;
    flex-direction: column;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label {
    margin: 10px 0;
}


.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    color: black;
}

.RoleButton {
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    
}


.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: whitesmoke;
    border: none;
    color: #2148C0;
    border-radius: 10px;
    padding: 10px;
}

.loginRegisterButton {
    position: absolute;
    background-color: whitesmoke;
    top: 60px;
    right: 20px;
    cursor: pointer;
    padding: 10px;
    color: #2148C0;
    border-radius: 10px;
}

ion-select::part(placeholder),
ion-select::part(text) {
    flex: 0 0 auto;
}


ion-select::part(text) {
    color: #545ca7;
}

ion-select::part(icon) {
    color: gray;
    opacity: 1;
}

/* styles.css */
.custom-ion-select {
    --placeholder-color: gray;
    --placeholder-opacity: 1;
    width: 100%;
    justify-content: center;
}

.custom-ion-select::part(placeholder),
.custom-ion-select::part(text) {
    flex: 0 0 auto;
}

.custom-ion-select::part(placeholder)::first-letter {
    font-size: 24px;
    font-weight: 500;
}

.custom-ion-select::part(text) {
    color: #545ca7;
}

.custom-ion-select::part(icon) {
    color: gray;
    opacity: 1;
}


.list-md {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background: whitesmoke;
}