@import url('../theme/variables.css');

.headerR {
    background-color: var(--ion-color-tertiary);
    font-size: 30px;
}

.footer {
    background-color: var(--ion-color-tertiary);
    font-size: 30px;
    width: 100%;
    min-height: 25px;
}

.center {
    width: 100%;
    height: 100%;
    background-color: var(--ion-color-primary);
    overflow-y: auto;
}

.component {
    width: 100%;
    display: flex;
    justify-content: center;
}

.space {
    height: 15%;
}