@import url('../theme/variables.css');

.headerR {
    background-color: var(--ion-color-tertiary);
    font-size: calc(150%);
    text-align: center;
}

.footer {
    background-color: var(--ion-color-tertiary);
    font-size: 30px;
    width: 100%;
    min-height: 25px;
}

.center {
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
}

.component {
    width: 100%;
    display: flex;
    justify-content: center;
}

.space {
    height: 7vh;
}

.prueba{
    height: 10px;
}