.searched {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;

}
  
  
.search {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6F9CEB 50%, #306BAC 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: absolute;
    right: -50%;
    top: 0;
    z-index: -1;
}
  
.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
  }
  
.bg3 {
    animation-duration: 5s;
}
  
.content {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 10vmin;
    text-align: center;
    z-index: 1; /* Añadido para que el contenido esté encima del fondo */
}
  
h1 {
    font-family: monospace;
  }
  
@keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
}
  