.threads-space{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    z-index: 0;
    background-color: #78a2e6;
}

.threads-container {
    z-index: 1; /* Ensures it is above .threads-space */
    background-color: #eaeaeb;
    height: 100%;
    width: 50%; /* Make the container take up full width */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}