.slot {
  display: flex;
  justify-content: center; /* Center the card horizontally */
  align-items: center; /* Center the card vertically */
  padding: 5px; /* Optional: Add some padding to ensure the card doesn't touch the edges */
}

.note-card {
  background-color: #e6f7e9; /* Light green background */
  border: 1px solid #b5d8bb; /* Border similar to the example */
  border-radius: 10px;
  padding: 10px;
  position: relative; /* Required for absolute positioning the image */
  width: 100%; /* Make the card responsive */
  max-width: 200px; /* Optional: Set a maximum width for larger cells */
  max-height: 150px; /* Optional: Set a maximum height for larger cells */
  box-sizing: border-box; /* Ensure padding doesn't affect the card's size */
}


.note-content {
  flex-grow: 1;
  text-align: left; /* Align text to the left */
}

.note-title {
  font-size: 14px;
  margin: 0;
  color: #333;
  /* No need for text alignment, keeping default */
}

.note-hora {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
  /* No need for text alignment, keeping default */
}

.note-image {
  bottom: 10px;
  right: 10px;
  width: 20%; /* Make the image size responsive */
  height: 20%; /* Make the image size responsive */
  min-width: 50px; /* Ensure the image doesn't get too small */
  min-height: 50px; /* Ensure the image doesn't get too small */
  border-radius: 50%; /* Makes the image circular */
  border: 2px solid white; /* Optional: adds a white border around the image */
  object-fit: cover; /* Ensures the image fits within the circle */
}
