.vertical-txt-display {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 180px;
    width: 100%;
}

#huge-text {
    margin: 0;
    font-size: 130px;
    text-align: center;
}

#big-huge-text {
    margin: 0;
    font-size: 80px;
}

#big-text {
    margin: 0;
    font-size: 30px;
}

#medium-text {
    margin: 0;
    font-size: 23px;
}

#small-text {
    margin: 0;
    font-size: 18px;
}

#medium-small-text {
    margin: 0;
    font-size: 20px;
}


@media (max-width: 660px){
    .vertical-txt-display {
        margin-left: 20px;
    }

    #big-text {
        font-size: 25px;
    }

    #medium-text {
        font-size: 18px;
    }

    #medium-small-text {
        font-size: 17px;
    }

    #small-text {
        font-size: 15px;
    }

    #huge-text {
        font-size: 5vh;
    }

    #big-huge-text {
	    font-size: 7vh;
    }
}
