.vertical-txt-display {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 180px;
    width: 100%;
}


@media (max-width: 814px){
    .vertical-txt-display {
        margin-left: 20px;
    }
}
