.change-button, .daynumbers-display {
    background-color: #DDD;
    color: #000;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-button {
    width: 60px;
    height: 50px;
}

.change-button:hover {
    background-color: #999;
}

.daynumbers-display {
    display: grid;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    padding: 10px;
    overflow: auto;
}

.calendar-month {
    max-height: 70vh; /* Ajusta esto según tu preferencia */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px 200px 200px 200px 200px 200px;
    overflow-y: auto;
}

.calendar-month::-webkit-scrollbar{
    display: none;
}

.days-label {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100%;
    border-radius: 15px 15px 0 0;
}

.date-changer-display {
    display: flex;
    gap: 5px;
}

.day-item {
    background-color: #DDD;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: #aaa solid 1px;
}

.grid-item {
    background-color: white;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

@media (max-width: 660px){
    .change-button {
        height: 35px;
        width: 30px;
    }

    .daynumbers-display {
        height: 35px;
        width: 100px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

