/* Estilo para el contenedor del formulario */
.message-form-container {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 320px; 
    font-weight: 700;
    color: #3F3F3F;
    text-align: start;
    font-family: var(--proza-font);
    margin-bottom: 20px;
  }
  
  /* Estilo para el formulario */
  .message-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Grupo de inputs */
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  /* Fila de correo y teléfono */
  .form-row {
    display: flex;
    gap: 15px;
  }
  
  /* Estilo para los inputs */
  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    background-color: #E4E4E4;
  }
  
  /* Ajuste para inputs en la misma fila */
  .form-row .form-group {
    flex: 1;
  }
  
  /* Estilo para el textarea */
  textarea {
    height: 200px;
    resize: none;
  }
  
  /* Botones */
/* Fila de botones */
.button-row {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  /* Botones */
  .close-button {
    background-color: #ccc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button {
    background-color: var(--ion-color-tertiary);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Hover efecto para botones */
  .close-button:hover,
  .submit-button:hover {
    opacity: 0.9;
  }