.rating-modal {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-row, .description-row, .rating-row{
    width: 100%;
    margin-bottom: 30px;  /* Aumentar espaciado entre filas */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-row {
    color: #3F3F3F;
    font-family: 'Nunito sans', sans-serif;
    font-weight: 900;  /* Aumentar grosor de la letra */
    font-size: 28px;   /* Aumentar tamaño de la letra */
}

.description-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Nunito sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 0 50px;
    text-align: center;
}

