/* General styles for the navigation bar */
.navbar-icon, .custom-text {
  transition: transform 0.3s ease;  /* Ensuring transition is applied universally */
}

.navbar-icon:hover, .custom-text:hover {
  transform: scale(1.5);  /* Using transform scale for hover */
}

/* Additional universal base styles, ensuring they do not interfere */
.ion-grid {
  background-color: #125089;
  padding: 10px 0;
  margin: 0 auto;
  width: 100%;
}

.ion-row, .ion-col {
  padding: 0;
  margin: 0;
}

.custom-text {
  color: #ecf0f1;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;  /* This can help with transformation effects if block level elements are needed */
}

.navbar-icon {
  font-size: 30px;
}

ion-header, ion-toolbar {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Keyframes for animation */
@keyframes wave-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.appName-text {
  background: linear-gradient(-45deg, #FFFFFF, #ebd9d9, #E0E0E0, #F7F7F7);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;  /* Makes the text color transparent, showing the gradient */
  animation: wave-animation 10s ease infinite;
  font-size: 28px;  /* Adjust font size as needed */
  font-weight: bold; /* Makes the text bold */
  display: inline-block; /* Required for background-clip to work properly */
  cursor:  pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-icon, .custom-text {
    font-size: 14px;
  }
  
  

  .responsive-navbar {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    height: auto; /* Allow height to adjust based on content */

  }
  .search-bar-col {
    order: 1; /* Make the search bar the first element in the column */
    flex: 2 1 100%; /* Ensure it takes the full width on smaller screens */

  }

}

@media (min-width: 769px) {
  .responsive-navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; /* Ensure no wrapping on larger screens */

  }
}

.search-bar-col {
  flex: 2; /* Make the search bar take up more space */
  max-width: 800px;  /* Adjust as needed to fit your design */
}

.appName-text {
  flex-shrink: 0;  /* Prevents the text from shrinking */
}

.navbar-icon, .custom-text {
  flex-shrink: 0;  /* Prevents the icons and text from shrinking */
  cursor: pointer;
}
