* {
    box-sizing: border-box;
  }
  
  .rating {
    width: 120px;
    height: 24px;
    position: relative;
    background-color: gray;
  }
  
  .rating progress.rating-bg {
    -webkit-appearance: none;
    -moz-appearence: none;
    appearance: none;
    border: none;
    display: inline-block;
    height: 22px;
    width: 100%;
    color: orange;
  }
  
  .rating progress.rating-bg::-webkit-progress-value {
    background-color: orange;
  }
  
  .rating progress.rating-bg::-moz-progress-bar {
    background-color: orange;
  }
  
  .rating svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px
  }

  .rating-bg {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 10px;
    opacity: 1; /* Hace que la barra de progreso sea invisible */
  }
  