


.containejob{
    background-color: var(--ion-color-secondary);
    color: white;
    border: 2px solid var(--ion-color-tertiary);
    margin:2%;
    padding: 0.5%;
    /* display: flex; */
}



.jobtitle{
    font-size: 30px;
    /* display: flex; */
}

.descriptiontrabjo{
    background-color: var(--white);
    width: 100%;
    height: 12vh;

}

.buttoncontainerjobs{
    display: flex;
    justify-content: end;
}

.disapprove{
    background-color: var( --ion-color-danger);
    width: 3vw;
    height: 6vh;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5%;
}

.green_approve{
    background-color: var( --ion-color-success);
    width: 3vw;
    height: 6vh;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5%;
}