/* --ion-color-primary */
.componenteticket{
    --background:  var(--white);
    --color:  var(--black);
  
    --border-style: solid;
    --border-width: 2px;
  
    --border-radius: 20px;
  
    --ripple-color: purple;
  
    --detail-icon-color: white;
    --detail-icon-opacity: 1;
    --detail-icon-font-size: 20px;
}

.iconbut{
    --background: var(--white);

    --color:var(--black)

}