.circle-container {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden; 
    width: 150px; 
    height: 150px; 
    position: absolute; 
    transform: translate(10%, -50%); 
    z-index: 1; 
}

#circleStyle {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 660px){
    .circle-container {
        width: 120px;
        height: 120px;
        transform: translate(10%, -110%); 
    }
}
