.roundedButton {
    height: 60px;
    font-size: 20px;
    margin-right: 8px;
}


.btn-header-horizontal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.iconsImg-subdivision {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.edit-user-btn{
    margin-top: auto;
    width: 50%;
}

.btn-edit-user{
    width: auto;
    height: 45px;
    margin-bottom: 5%;
}

#close-btn{
    color: gray;
    height: 35px;
    width: 35px;
}

#close-btn:hover{
    color: red;
}

.button-native {
    box-shadow: none;
}

@media (max-width: 660px){
    .btn-header-horizontal{
        flex-direction: row;
        align-items: center;
    }

    .iconsImg-subdivision {
        justify-content: space-evenly;
    }

    .btn-header-horizontal {
        justify-content: flex-start;
        margin-left: 10px;
    }

    .btn-edit-user{
        width: 100%;
    }
}

.alert-head {
    background-color: #306BAC;
    color: white;
}

.alert-title.sc-ion-alert-md {
    color: white;
}