.titulotickets{
  background-color: var(--ion-color-primary);
  padding: 0.5%;
  --color:var(--white)
}


.buttoncontainerjobstick{
  display: flex;
  justify-content: end;
}


.options_containertick{
  width: 10vw;
  justify-content: center;
  padding: 0.5%;
  display: flex;
  flex-direction: column;
  
}