.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-searchbar {

  width: 100%;
  --background: #dedede;
  --color: rgb(19, 17, 17);
  --placeholder-color: rgb(74, 71, 71);
  --icon-color: gray;
  --clear-button-color: #fff;
  --border-radius: 20px;
}

