@import url('../../theme/variables.css');

.horizontal {
    width: 100%;
    background-color: var(--black);
    height: 1px;
    opacity: 0.3;
}

.vertical {
    height: 100%;
    background-color: var(--black);
    width: 1px;
    opacity: 0.3;
}
