@import url('/src/theme/variables.css');

#backgroundM {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 11;
    opacity: 0.6;
}

.backM {
    position: absolute;
    z-index: 12;
    background-color: var(--ion-color-primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentM {
    height: 95%;
    width: 95%;
    background-color: white;
}

.lineM {
    width: 100%;
    height: 1px;
    background-color: #000; /* Color de la línea */
}

.cardTitleModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

host {
    padding-inline: 16px;
    padding-top: 0px;
  }